/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode




todofrontend/node_modules
todofrontend/.DS_Store
todofrontend/dist
todofrontend/dist-ssr
coverage
*.local

/todofrontend/cypress/videos/
/todofrontend/cypress/screenshots/

# Editor directories and files
/todofrontend.vscode/*
!.vscode/extensions.json
